main {
  .Section {
    display: flex;
    min-height: 100px;
    padding: 20px 0;

    &--left {
      flex: 2;
      padding: 0 20px;
      position: relative;

      h3 {
        font-style: italic;
        text-align: right;
      }

      &:after {
        content: '';
        height: 100px;
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
        background: #989595;
      }
    }

    &--right {
      flex: 4;
      padding: 0 20px;

      &-job-title {
        display: flex;
        justify-content: space-between;
      

      span {
        font-weight: 700;
        color: #989595;
        opacity: 0.75;
        font-style: italic;
        padding-left: 25px;
        line-height: 22px;
      }
    }
      div {
        padding-bottom: 15px;
        &:nth-last-child(1) {
          padding-bottom: 0;
        }
      }
      ul {
        padding-top: 10px;
        list-style: disc;
        list-style-position: inside;
      }
    }
  }
}